<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("d8479aa6-0571-4a58-aa56-c4badb3be003");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
